body{
	font:14px/1.5 Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
	color:#333;
	margin: 0;
}
@font-face {
  font-family: 'iconfont';
  src: url('iconfont.eot');
  src: url('iconfont.eot?#iefix') format('embedded-opentype'),
      url('iconfont.woff2') format('woff2'),
      url('iconfont.woff') format('woff'),
      url('iconfont.ttf') format('truetype'),
      url('iconfont.svg#iconfont') format('svg');
}
	.iconfont {
	  font-family: "iconfont" !important;
	  font-size: 0.16rem;
	  font-style: normal;
	  -webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;
	}
	a{
		text-decoration: none;
		color: #778899;
	}
	ul{
			list-style-type:none;
	}
	.topbar{
	width: 1519px;
	height: 35px;
}
.topbar_dl{
	/* position: absolute; */
	float: left;
	margin-left: 100px;
	width: 300px;
	height: 35px;
	/* overflow: hidden; */
	/* background-color: blue;	 */
	text-align: center;
}
.topbar_dl a{ 
	line-height: 35px;
	font-size: 12px;
	/* color: #FF0000; */
	padding-left: 10px;
}
.topbar_dl_one{
	color: red;
}
.topbar_dl a:hover{
	color: red;
}
.topbar_nr{
	/* position: absolute; */
	float: left;
	margin-right:200px;
	width: 800px;
	height: 35px;
	/* background-color: #0000FF; */
	text-align: center;
}
.topbar_nr_ul{
	font-size: 12px;
	line-height: 10px;
}
.topbar_nr_ul_span{
	margin-left: 10px;
	color: #424242;
}
.topbar_nr_ul li{
	padding-left: 20px;
	display: inline;
}
.topbar_nr_ul li a{
	font-size: 12px;
}
.topbar_nr_ul li a:hover{
	color: red;
}
.one{
	width: 1519px;
	height: 333px;
}
.one img{
	width: 100%;
}
.two{
	position: relative;
	width: 1519px;
	height: 3300px;
	background-color: blue;
}
.two_top{
	/* margin-left: 300px; */s
	width: 500px;
	height: 100px;
}
.two_top_1{
	position: absolute;
	top: 20px;
	left: 500px;
	font-size:40px;
	font-weight: bold;
}
.two_top_1 a{
	color: white;
}
.two_body{
	position:relative;
	left: 200px;
	width: 1120px;
	height: 1950px;
	/* background-color: #FF0000; */
}
.two_body ul{
	margin-top: 0;
	width: 1100px;
	height: 1950px;
	/* background-color: yellow; */
}
.two_body ul li{
	float: left;
	left: 0;
	width: 200px;
	height:280px;
	background-color: white;
	margin-left: 10px;
	margin-top: 10px;
	display: inline-block;
}
.qian{
	color: #FF0000;
}
.two_body_div0{
	position: relative;
	width: 200px;
	height: 26px;
	/* background-color:; */
}
.two_body_div1{
	top: 2px;
	left: 10px;
	width: 80px;
	height: 20px;
	border-radius:25px;
	text-align: center;
	border: 1px solid red;
	color: red;
}
.two_body_div2{
	position: absolute;
	top: 2px;
	left:100px;
	width: 80px;
	height: 20px;
	border: 1px solid red;
	border-radius:25px;
	text-align: center;
	background-color: #FF0000;
}
.two_body_div2 a{
	color: white;
}
.bottom{
	position:relative;
	width: 1519px;
	height: 200px;
	background-color: white;
}
.bottom_div{
	position: absolute;
	left: 180px;
	width: 1200px;
	height: 200px;
}
.bottom_ul{
	width: 1150px;
	height: 80px;
	border: 1px solid #778899;
	border-left: none;
	border-right: none ;
}
.bottom_ul li{
	    width:auto;
		height: 40px;
		display: inline-block;
		line-height: 10px;
}
.bottom_ul li a{
	
	font-size: 14px;
	color: #778899;
}
.bottom_ul li a:hover{
	color: red;
}
.bottom_ul2{
	width: 1150px;
	height: 80px;
}
.bottom_ul2 li{
	    width:auto;
		height: 40px;
		display: inline-block;
		line-height: 10px;
}
.bottom_ul2 li a{
	
	font-size: 14px;
	color: #778899;
}
.bottom_ul2 li a:hover{
	color: red;
}
